In [13]:
import pandas as pd
# pip install openpyxl

In [14]:
pd.read_excel("./data/cmv.xlsx")

,ID,age,prior.radiation,aKIRs,cmv,donor_negative,donor_positive
0,1,61,0,1,1,recipient_positive,NaN
1,2,62,1,5,0,recipient_negative,NaN
2,3,63,0,3,0,NaN,recipient_positive
3,4,33,1,2,0,recipient_positive,NaN
4,5,54,0,6,0,NaN,recipient_positive
...,...,...,...,...,...,...,...
59,60,41,1,2,0,recipient_positive,NaN
60,61,57,0,2,1,NaN,recipient_positive
61,62,61,0,5,0,NaN,recipient_positive
62,63,50,0,5,0,recipient_negative,NaN
63,64,64,0,4,0,NaN,recipient_positive

In [7]:
dat = pd.read_excel("./data/cmv.xlsx")

In [8]:
pip install pyprojroot

Collecting pyprojrootNote: you may need to restart the kernel to use updated packages.

  Downloading pyprojroot-0.2.0-py3-none-any.whl (5.2 kB)
Installing collected packages: pyprojroot
Successfully installed pyprojroot-0.2.0

In [15]:
from pyprojroot import here
dat = pd.read_excel(here("./data/cmv.xlsx"))

In [16]:
here("./data/cmv.xlsx")

WindowsPath('C:/Users/Danie/git/hub/python_r_demos/data/cmv.xlsx')

In [23]:
dat.loc[dat["cmv"] == 1, ["ID", "cmv"]]

    ID  cmv
0    1    1
5    6    1
8    9    1
12  13    1
13  14    1
15  16    1
16  17    1
19  20    1
26  27    1
27  28    1
29  30    1
30  31    1
31  32    1
35  36    1
36  37    1
38  39    1
39  40    1
40  41    1
41  42    1
42  43    1
44  45    1
45  46    1
52  53    1
53  54    1
57  58    1
60  61    1